<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tativo.app.tativo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Utilidades.Globals"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogIn.Actividades.Act_LogIn" />
        <activity android:name=".LogIn.Actividades.Act_Cotizador">
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
       <activity android:name=".Splash">
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
       </activity>
        -->
        <activity android:name=".Bloques.Actividades.Act_B1_Referencias" />
        <activity android:name=".Bloques.Actividades.Act_B2_Personal" />
        <activity android:name=".Bloques.Actividades.Act_B3_InfDeposito" />
        <activity android:name=".Bloques.Actividades.Act_B4_Laboral" />
        <activity android:name=".Bloques.Actividades.Act_B5_General" />
        <activity android:name=".Bloques.Actividades.Act_Documentos" />
        <activity android:name=".Bloques.Actividades.Act_B3_ConfirmarPIN" />
    </application>

</manifest>
